[data-page="a-propos"] {
    & main {
        display: flex;
        flex-direction: column;
        padding: var(--espacement-moyen);
    }

    & a{
        color: var(--couleur-texte-noir);
        text-decoration: underline;
        transition: color 300ms;

        &:hover {
            color: var(--couleur-fonce);
        }
    }

    & .section {
        width: 100%;
        margin-top: var(--espacement-large);
        transform: translateX(0);
        opacity: 1; 

        & > div {
            transition: all 1000ms;
        }

        &.anime > div {
            transform: translateX(-100%) scale(1.05);
            opacity: 0;
        }

        &.droite {
            text-align: right;
        }

        & h2 {
            font-size: 2rem;
            font-weight: 800;
            color: var(--color-accent);
        }
        & p {
            font-size: 1.5rem;
            text-transform: initial;
            font-weight: 600;
            color: var(--color-dark);
        }

    }
}
