:root, body[data-theme="jour"] {
    --couleur-primaire: #dcd7c9 ;
    --couleur-accent: #a27b5c;
  
    --couleur-fonce: #994c44;
    --couleur-sombre: #39444F;
    --couleur-verte: #A49D84;
    --couleur-orange: #9c583c;

    --couleur-reset: grey ;
    --couleur-disable: tomato;

    --couleur-texte-noir: #000000;
    --couleur-claire: #ffffff;

}

body[data-theme="nuit"] {
    background-color: #000000;
    color: #ffffff; 
}

nav {
    background-color: var(--couleur-fonce);
}

body[data-theme="nuit"] nav {
    background-color: #444; 
}

